<div class="outer">
  <mat-form-field appearance="outline">
    <mat-label>Customer name</mat-label>
    <input type="text" placeholder="Ex: Nimal" matInput/>
  </mat-form-field>
  &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Customer Address</mat-label>
    <input type="text" placeholder="Ex: Colombo" matInput/>
  </mat-form-field>
  &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Customer Salary</mat-label>
    <input type="number" matInput/>
  </mat-form-field>
  &nbsp;
  <button mat-raised-button color="primary">Save Customer</button>

</div>
